<div id="root"></div>

<script type="text/javascript">
    var singleWorkflowId = "{{singleWorkflowId}}";
    var multiWorkflowIds = {{{multiWorkflowIds}}};
    var awsWorkflowId = "{{awsWorkflowId}}";
</script>
<script type="text/javascript" src="js/bundle.js"></script>