<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Test workflow</title>
</head>
<body>

<pre>
    Workflow :
     - task1 : Resolve
     - task2 : Update the context
     - task3 : Resolve (enable to see previous context modification)
     - task4 : Reject
     - task5 : Throw an error
</pre>
<br>

{{{body}}}

</body>
</html>